@import "tailwindcss";

:root {
  --background: #f1f1f1;
  --foreground: #1b1b1b;
  --lesser-background: #d8d8d8;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-figtree-regular);
  --font-mono: var(--font-dm-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --lesser-background: #1d1d1d;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
